<section class="u-content-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center mb-5 mb-lg-0 pr-lg-5">
        <header class="mb-5">
          <h2 class="h1">Votalogとは</h2>
          <p class="h5">要約テキスト</p>
        </header>
        <p class="mb-4">ここに機能説明文</p>
      <div class="col-lg-6 align-self-center">
        <!-- <img class="img-fluid rounded" src="assets/img-temp/900x700/img1.png" alt="TODO//ここにスクショ画像"> -->
      </div>
    </div>
  </div>
</section>
