<section class="u-promo-block u-promo-block--mheight-600 u-overlay u-overlay--dark text-white firstview-wrapper">
  <div class="container u-overlay__inner u-ver-center u-content-space">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <h1 class="display-sm-4 display-lg-3 mb-3">Votalog</h1>
          <p class="u-letter-spacing-sm mb-4">「この前いつ水やりしたっけ？」「この株いつ頃植え替えればいいんだっけ？」がなくなる多肉植物管理ツールVotalog(ボタログ)。</p>
          <div class="btn-for-signup mb-3">
            <%= link_to new_user_registration_path, class: "btn btn-secondary firstview-signup-btn" do %>
              新規登録はこちら
              <i class="fas fa-arrow-alt-circle-right"></i>
            <% end %>
          </div>
          <div class="btns-for-signin">
            <%= link_to new_user_session_path, class: "btn btn-primary firstview-signin-btn" do %>
              ログインはこちら
              <i class="fas fa-arrow-alt-circle-right"></i>
            <% end %>
            <%= link_to users_guest_sign_in_path, class: "btn btn-primary firstview-signin-btn" do %>
              ゲストログインはこちら
              <i class="fas fa-arrow-alt-circle-right"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
