<footer class="bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center text-md-left mb-3 mb-md-0">
        <small class="text-white">&copy; 2023 Votalog All Rights Reserved.</small>
      </div>
    </div>
  </div>
</footer>
