<header>
  <nav class="bg-secondary navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="home-page.html">
        <%= image_tag "votalog.png", class: "logo-icon", alt: "ロゴアイコン" %>
      </a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target="#navbarTogglerDemo"
              aria-controls="navbarTogglerDemo"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item mr-4 mb-2 mb-lg-0">
            <a class="nav-link active" href="home-page.html">ログイン</a>
          </li>
          <li class="nav-item mr-4 mb-2 mb-lg-0">
            <a class="nav-link" href="services.html">新規登録</a>
          </li>
          <li class="nav-item dropdown mr-4 mb-2 mb-lg-0">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ログイン時ここにユーザー名を表示 <i class="fas fa-angle-down small ml-1"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="about-us.html">About Us</a>
              <a class="dropdown-item" href="about-me.html">About Me</a>
            </div>
          </li>
          <li class="nav-item mr-4 mb-2 mb-lg-0">
            <a class="nav-link" href="contacts.html">ゲストログイン</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
