<section class="u-content-space">
  <div class="container">
    <header class="w-md50 mx-automb-6 d-flex justify-content-between align-items-center">
      <h2 class="mb-0">お世話ログ for <%= @plant.name %></h2>
      <div>
        <% if @plant.image.attached? %>
          <%= image_tag @plant.image.variant(resize: "72", gravity: "center", crop: "72x72+0+0").processed, class: "u-box-shadow-lg img-fluid rounded-circle", alt: "株イメージ画像" %>
        <% end %>
      </div>
    </header>
  </div>
</section>

<%= render  "shared/my_shelf", resources: @user.plants %>
