.field_with_errors {
  display: contents;
}

.invalid-input {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fb4143;
}

.required-column::after {
  content: "*";
  color: #fb4143;
  
}
