.firstview-wrapper {
  background-image: image-url('firstview.jpg');
  background-position: 50% 0;
  max-width: 1680px;
  margin: 0 auto;
}

.logo-icon {
  width: 100px;
  height: 54px;
  object-fit: cover;
}

.firstview-signup-btn, .firstview-signin-btn {
  width: 256px;
}
